<div id="blindControl">
    <div class="configContainer">
        <div class="flex">

            <div class="controlLeft">
                <button class="controlButton" id="driveUp/00">
                    <div class="buttonArrow">&#x003C;</div>
                </button>
                <button class="controlButton" id="driveDown/00">
                    <div class="buttonArrow">&#x003E;</div>
                </button>
            </div>
            <script>
                let allUp = document.getElementById("driveUp/00");
                let allDown = document.getElementById("driveDown/00");
                setEventListener(allUp);
                setEventListener(allDown);
            </script>

            <div class="controlRight">

                <div class="controlHeader">
                    <div>&nbsp;Alle Rollos</div>
                    <div>0%&nbsp;</div>
                </div>

                <div class="configButtons">
                    <button id="automaticAll" onclick="automatic(-1, {{room.id}}), switchButtonClass(id)" class="automaticButton{{room.autoBlinds}}">AUTOMATIK</button>
                    <button onclick="securityCheck()" class="automaticButtonFalse">Zeitplan</button>
                </div>

            </div>
            
        </div>
    </div>
</div>
