
<div class="configContainer">
    <div class="flex">

        <div class="controlLeft">
            <button class="controlButton" id="driveUp/00" value="0">
                <img class="arrowImage" src="{{ url_for('static', filename='/images/left-arrow.png') }}">
            </button>
            <button class="controlButton" id="driveDown/00" value="0">
                <img class="arrowImage" style="transform: rotate(-90deg);" src="{{ url_for('static', filename='/images/left-arrow.png') }}">
            </button>
        </div>
        <script>
            let allUp = document.getElementById("driveUp/00");
            let allDown = document.getElementById("driveDown/00");
            setEventListener(allUp);
            setEventListener(allDown);
        </script>

        <div class="controlRight">

            <div>
                <div class="moduleHeader">{{room.name}}</div>
                <div class="controlHeader">
                    <div>&nbsp;Alle Jalousien</div>
                    <div>0%&nbsp;</div>
                </div>
            </div>
            

            <div class="configButtons">
                <button id="automaticAllBlinds" onclick="envAutomatic('blinds', '{{room.name}}', {{room.id}}), switchButtonClass(id)" class="automaticButton{{room.autoBlinds}}">AUTOMATIK</button>
                <button onclick="securityCheck()" class="automaticButtonFalse">Zeitplan</button>
            </div>

        </div>
        
    </div>
</div>

