<!DOCTYPE html>
<html>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/base.css') }}">
  <script src="{{ url_for('static', filename='/js/main.js') }}"></script>
  <script src="{{ url_for('static', filename='/js/jQuery.js') }}"></script>
  <script src="{{ url_for('static', filename='/js/room.js') }}"></script>


  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Smart Home System</title>
  </head>
  <body id="body">
    

    <div class="container">

      <div class="timeplan" id="timeplan">
        <div class="timewindow">
          <div class="titleBar">
            <div>Zeitplan</div>
            <button onclick="closePlan()" style="font-size:6vw;">X</button>
          </div>
          <div id="tableFrame" class="tableFrame">
            <table id="timeTable">
              <tr>
                <th>Uhrzeit</th>
                <th>Aktion</th>
                <th class="lastColumn">Entf</th>
              </tr>
            </table>
          </div>
          
          <button onclick="addAction(0)" id="addButton" class="tableButton">
            Neu
          </button>
        </div>
      </div>

      <div onclick="redirectToPage('{{previousPage}}')" class="header">
        <h1>&nbsp;&#8678</h1>
        <h1>
          {% for i in range(4) %}
          &nbsp;
          {% endfor %}
          {{header}}
        </h1>
        <div style="width:17vw; text-align: right;">
          <h1>{{celsius}}&nbsp;</h1>
        </div>
      </div>
      {% block content %}
      {% endblock %}
    </div>
    
    <script src="{{ url_for('static', filename='/js/timeplan.js') }}"></script>
    
    <div onclick="resetTimer()" class="screenSaver" id="screenSaver">
      <div class="screenSaverBox" id="screenSaverBox">
        <h1 id="time" class="screenSaverFont">14:31</h1>
        <h1 class="screenSaverFont">{{celsius}}</h1>
      </div>
    </div>
  
    

    <script>

      let seconds = 0;
      let timer = setInterval(updateTimer, 1000);
      let screenSaver = document.getElementById("screenSaver");
      let screenSaverBox = document.getElementById("screenSaverBox");

      function getCurrentTime() {
        let currentTime = new Date().getTIme();
      }

      function updateTimer() {
        seconds++;
        if (seconds > 60) {
          showScreenSaver()
          seconds = 0;
        }
      }
    
      function resetTimer() {
        clearInterval(timer);
        screenSaver.style.display = "none";
        timer = setInterval(updateTimer, 1000);
      }

      function showScreenSaver() {
        clearInterval(timer);
        screenSaver.style.display = "flex";
        timer = setInterval(moveScreenSaver, 2000);
      }

      let directionX = 10
      let directionY = 10
      let bodyWidth = document.getElementById("body").getBoundingClientRect().width;
      let bodyHeight = document.getElementById("body").getBoundingClientRect().height;
      

      function moveScreenSaver() {
        let xPos = screenSaverBox.offsetLeft;
        let yPos = screenSaverBox.offsetTop;
        let screenSaverWidth = screenSaverBox.getBoundingClientRect().width;
        let screenSaverHeight = screenSaverBox.getBoundingClientRect().height;
        screenSaverBox.style.left = String(xPos + directionX) + "px";
        screenSaverBox.style.top = String(yPos + directionY) + "px";
        if (xPos < 0)  {
          directionX = 10
        } else if (xPos+screenSaverWidth > bodyWidth) {
          directionX = -10
        }
        if (yPos < 0)  {
          directionY = 10
        } else if (yPos+screenSaverHeight > bodyHeight-screenSaverHeight) {
          directionY = -10
        }
        
      }

    </script>

  </body>
</html>