{% extends "base.html" %}
{% block content%}

<style>
</style>


<div class="bigButtonContainer">
  
  <button onclick="redirectToPage('{{this.all}}')" id="Alle" class="roomButton">Alle</button>
  
  {% for group in this.groups %}
  <button onclick="redirectToPage('{{group.url}}')" id="{{group.name}}" class="roomButton">{{group.name}}</button>

  
  
  <script>
    envName = "{{floor.name}}";
    buttonID = document.getElementById(envName)
    changeClass(buttonID, envName);
  </script>
  {% endfor %}
  
  <button class="roomButton">+</button>
  
</div>


{% endblock %}