{% extends "base.html" %}
{% block content%}


<h1 align="center" class="header">Home System</h1>
<div class="bigButtonContainer">
  <button class="allRooms">Alle</button>
  <script>
    let roomName;
    let buttonID;
  </script>
  {% for room in house.rooms %}
    <button id="{{room.name}}" class="roomButton">{{room.name}}</button>
    <script>
      roomName = "{{room.name}}";
      buttonID = document.getElementById("{{room.name}}")
      switch (roomName) {
        case "Wohnzimmer":
          buttonID.classList.remove("roomButton")
          buttonID.classList.add("livingRoom")
          break;
        case "Kinderzimmer":
          buttonID.classList.remove("roomButton")
          buttonID.classList.add("nursery")
          break;
        case "Schlafzimmer":
          buttonID.classList.remove("roomButton")
          buttonID.classList.add("bedRoom")
          break;

      }
      // if (roomName == "Wohnzimmer") {
      //   {{room.name}}.classList.add("livingRoom")
      // }
      

    </script>
  {% endfor %}
</div>


  {% endblock %}