{% for module in modules['blinds'] %}

  <div id="blindControl">
    <div class="configContainer">
      <div class="flex">

        <div class="controlLeft">
          <button onclick="lockButton(id)"  class="controlButton" id="driveUp/{{module.port}}">
            <div class="buttonArrow">&#x003C;</div>
          </button>
          <button onclick="lockButton(id)" class="controlButton" id="driveDown/{{module.port}}">
            <div class="buttonArrow">&#x003E;</div>
          </button>
        </div>

        <div class="controlRight">

          <div class="controlHeader">
            <div>&nbsp;Rollo {{loop.index}}</div>
            <div>0%&nbsp;</div>
          </div>

          <div class="configButtons">
            <button id="automatic{{module.port}}" onclick="automatic({{module.port}}), switchButtonClass(id)" class="automaticButton{{module.auto}}">AUTOMATIK</button>
            <button id="{{module.id}}" onclick="redrawTimeplan(id)" class="automaticButtonFalse">Zeitplan</button>
          </div>

        </div>
      </div>
    </div>
  </div>
  {% endfor %}