{% extends "base.html" %}
{% block content%}


<style>

  body {
    overflow: hidden;
  
  }

  .header {
    font-size: 5vw;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  .numpad {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .numButton, .enterButton {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 9vw;
    width: 28vw;
    height: 17vh;
    border-width: 0.1vw;
    border-style: solid;
    border-radius: 1.5vw;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: -1px 0px;
  }

  .numButton:hover {
    color: rgb(194, 194, 194);
    /* font-weight: bold; */
  }

  .enterButton {
    background-color: rgb(0, 131, 2);
    color: white;
    text-overflow: hidden;
    font-size: 6vw;
  }

  .pinField {
    width: 90%;
    font-size: 8vw;
    padding: 0vw;
    margin: 0;
    text-align: center;
  }

  tbody {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 480px) and (min-height: 480px) {

    body {
      /* background-color: blue; */
    }

    .numpad {
      height: 85vh;
    }

    .numButton, .enterButton {
      /* height: 30vw;
      font-size: 12vw; */
      padding: 8vh 0vw;
    }

    .enterButton {
      font-size: 10vw;
    }

    .pinField {
    font-size: 10vw;
   }

   .header {
    font-size: 8vw;
    margin-top: 0vh;
   }

  }


</style>



</style>

<script>
  function insertNum(num) {
    try{
      filled = document.getElementById("pinField").value;
      filled += String(num);
    } catch {
      filled = String(num);
    } finally {
      document.getElementById("pinField").value=filled;
    }
  }

  function deleteNum() {
    try {
      filled = document.getElementById("pinField").value;
      filled = filled.slice(0, -1);
      document.getElementById("pinField").value=filled;
    }
    catch {}
    }
  
</script>
    
<h1 class="header">PIN</h1>

{% if tries < 3 %}
<h2>Du hast noch {{tries}} Versuche</h2>
{% endif %}

<div style="display:flex; justify-content: center; align-items: center; flex-wrap: wrap;">
  <table class="numpad">
    <tr class="padrow">
      <td class="padcolumn"><button value="1" class="numButton" onclick="insertNum(value)">1</button></td>
      <td class="padcolumn"><button value="2" class="numButton" onclick="insertNum(value)">2</button></td>
      <td class="padcolumn"><button value="3" class="numButton" onclick="insertNum(value)">3</button></td>
    </tr>
    <tr class="padrow">
      <td class="padcolumn"><button value="4" class="numButton" onclick="insertNum(value)">4</button></td>
      <td class="padcolumn"><button value="5" class="numButton" onclick="insertNum(value)">5</button></td>
      <td class="padcolumn"><button value="6" class="numButton" onclick="insertNum(value)">6</button></td>
    </tr>
    <tr class="padrow">
      <td class="padcolumn"><button value="7" class="numButton" onclick="insertNum(value)">7</button></td>
      <td class="padcolumn"><button value="8" class="numButton" onclick="insertNum(value)">8</button></td>
      <td class="padcolumn"><button value="9" class="numButton" onclick="insertNum(value)">9</button></td>
    </tr>
    <tr class="padrow">
      <td><button class="numButton" onclick="deleteNum()">&#8678</button></td>
      <td><button value="0" class="numButton" onclick="insertNum(value)">0</button></td>
      <form method="POST">
        <td><button type="submit" class="enterButton">Enter</button></td>
    </tr>
  

  </table>

  <input id="pinField"
    type="password"
    class="pinField"
    name="pinField"
    placeholder="PIN eingeben"
  />
  </form>
</div>
  

{% endblock %}