{% extends "base.html" %}
{% block content%}


<div class="bigButtonContainer">
  <div class="headerSpace"></div>
  <button onclick="redirectToPage('/Home/Alle')" id="Alle" class="roomButton">Alle</button>


  {% set envs = house.floors %}
  {% if isFloor %}
  {% set envs = floor.rooms %}
  <script>
    buttonID = document.getElementById("Alle");
    changeClass(buttonID, "{{floor.name}}");
  </script>
  {% endif %}
  {% for env in envs %}
    <button onclick="redirectToPage('/Home/{{env.name}}')" id="{{env.name}}" class="roomButton">{{env.name}}</button>

    <script>
      envName = "{{env.name}}";
      buttonID = document.getElementById("{{env.name}}")
      changeClass(buttonID, envName);
    </script>
  {% endfor %}
  
  
</div>


{% endblock %}