{% extends "base.html" %}
{% block content%}

<style>
  .timeplan {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    justify-items: center;
    align-items: center;
    justify-content: center;
    font-size: 6vw;
  }

  .timewindow {
    background-color: white;
    width: 90%;
    height: 90%;
  }

  .tableFrame {
    max-height: 75%;
    width: 100%;
    overflow-y: scroll;
  }

  table {
    width: 100%;
  }

  table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  }

  .titleBar {
    display: flex;
    justify-content: space-between;
  }

  .tableButton {
    width: 100%;
    font-size: 6vw;
  }

  .lastColumn {
    width: 6vw;
  }

  .deleteButton, .acceptButton {
    width: 100%;
    height: 10vw;
    background-color: red;
    color: white;
  }

  .acceptButton {
    background-color: green;
  }

  .timeChooseButton {
    height: 10vw;
    width: 10vw;
    font-size: 6vw;
  }

  .newTimeCont {
    display: flex;
    justify-content: space-between;
  }

  .timeCont {
    width: 15vw;
  }
</style>


<div class="timeplan" id="timeplan">
  <div class="timewindow">
    <div class="titleBar">
      <div>Zeitplan</div>
      <button onclick="closePlan()" style="font-size:6vw;">X</button>
    </div>
    <div id="tableFrame" class="tableFrame">
      <table id="timeTable">
        <tr>
          <th>Uhrzeit</th>
          <th>Aktion</th>
          <th class="lastColumn">Entf</th>
        </tr>
      </table>
    </div>
    
    <button onclick="addAction(0)" id="addButton" class="tableButton">
      Neu
    </button>
  </div>
</div>


<div class="bigButtonContainer">
  <div class="headerSpace"></div>

  {% if modules['lights'][1] %}

  {% include 'allLights.html' %}

  {% endif %}

  {% if modules['blinds'][1] %}

  {% include 'allBlinds.html' %}

  {% endif %}

  {% include 'listLights.html' %}

  {% include 'listBlinds.html' %}

</div>



<!-- <script>
  let lockedButtonId = null;
  let pressTimer = null;

  function startPressTimer(buttonIdToLock, buttonIdToUnlock) {
    pressTimer = setTimeout(function() {
      // Langer Druck
      lockButton(buttonIdToLock, buttonIdToUnlock);
    }, 300);
  }

  function endPressTimer() {
    clearTimeout(pressTimer);
  }

  function lockButton(buttonIdToLock, buttonIdToUnlock) {
    if (lockedButtonId === buttonIdToLock) {
      // Wenn der Button bereits eingerastet ist, dann aufheben
      unlockButton(buttonIdToLock);
    } else {
      // Anderen Button aufheben (falls eingerastet)
      if (lockedButtonId) {
        unlockButton(lockedButtonId);
      }

      // Button einrasten
      lockButtonStyle(buttonIdToLock);
      unlockButtonStyle(buttonIdToUnlock);
      lockedButtonId = buttonIdToLock;
    }
  }

  function unlockButton(buttonId) {
    unlockButtonStyle(buttonId);
    lockedButtonId = null;
  }

  function lockButtonStyle(buttonId) {
    let button = document.getElementById(buttonId);
    button.classList.remove("controlButton");
    button.classList.add("buttonLocked");
  }

  function unlockButtonStyle(buttonId) {
    let button = document.getElementById(buttonId);
    button.classList.remove("buttonLocked");
    button.classList.add("controlButton");
  }
</script> -->

<script>

  let blind_id;
  let plan = document.getElementById("timeplan");
  let tableRows = document.getElementById("timeTable");
  let tableFrame = document.getElementById("tableFrame");
  let addButton = document.getElementById("addButton");
  let dirveButtons = [];
  
  let newTime = "06:00";
  let newAction = "0";

  function saveDriveButtonStates() {
    let id = "0";
  }

  function redrawTimeplan(id) {
    saveBlind_id(id);
    resetAddButton();
    rebuildTableHeader();
    getTimeEntries(id)
      .then(displayEntries)
      .catch(error => {
        console.log(error);
      });
  }

  function saveBlind_id(id) {
    blind_id = id;
  }

  function rebuildTableHeader() {
    tableRows.innerHTML = `
      <tr>
        <th>Uhrzeit</th>
        <th>Aktion</th>
        <th class="lastColumn">Entf</th>
      </tr>
    `;
  }


  function getTimeEntries(blind_id) {
    return new Promise((resolve, reject) => {
      $.ajax({
        url: "/getTimeEntries/" + blind_id,
        type: 'GET',
        success: function (response) {
          let actionTimes = response.data;
          resolve(actionTimes);
        },
        error: function (error) {
          reject(error);
        }
      });
    });
  }

  function displayEntries(entries) {
    let time;
    let state;
    let action_id;
    entries.forEach(entry => {
      time = entry['time_value'];
      state = entry['closedInPercent'];
      action_id = entry['id'];
      tableRows.innerHTML += `
        <tr>
          <td>${time}</td>
          <td>${state}</td>
          <td><button onclick="deleteAction(${action_id})" id="${action_id}" class="deleteButton">X</button></td>
        </tr>
      `;
    });
    
    // Show plan
    plan.style.display = "flex";
  }

  function addAction() {
    drawInputRow();
    changeAddButton();
  }

  function drawInputRow() {
    tableRows.innerHTML += `
    <tr>
      <td id="timeColumn"><div class="newTimeCont"><div class="timeCont">${newTime}</div><div><button onclick="justifyTime(0)" class="timeChooseButton">&#60;</button><button onclick="justifyTime(1)" class="timeChooseButton">&#62;</button></div></div></td>
      <td id="actionColumn"><div class="newTimeCont">${newAction}<div><button onclick="justifyAction(0)" class="timeChooseButton">&#60;</button><button onclick="justifyAction(1)" class="timeChooseButton">&#62;</button></div></div></td>
      <td><button onclick="interrupt()" class="deleteButton">X</button></td>
    </tr>
    `;
    tableFrame.scrollTop = tableFrame.scrollHeight;
  }

  function changeAddButton() {
    addButton.innerHTML = `Hinzufügen`;
    addButton.onclick = null;
    addButton.removeEventListener("click", addAction);
    addButton.addEventListener("click", saveNewAction);
  }

  function justifyTime(direction) {
    setTime(direction);
    let timeColumn = document.getElementById("timeColumn");
    timeColumn.innerHTML = `
      <div class="newTimeCont"><div class="timeCont">${newTime}</div><div><button onclick="justifyTime(0)" class="timeChooseButton">&#60;</button><button onclick="justifyTime(1)" class="timeChooseButton">&#62;</button></div></div>
    `;
  }

  function justifyAction(direction) {
    setAction(direction);
    let actionColumn = document.getElementById("actionColumn");
    actionColumn.innerHTML = `
      <div class="newTimeCont">${newAction}<div><button onclick="justifyAction(0)" class="timeChooseButton">&#60;</button><button onclick="justifyAction(1)" class="timeChooseButton">&#62;</button></div></div>
    `;
  }

  function setTime(direction) {
    let timePart = newTime.split(":");
    let hours = parseInt(timePart[0]);
    let minutes = parseInt(timePart[1]);
    let allMinutes = hours * 60 + minutes;

    if (direction) {
      allMinutes += 30;
    } else {
      allMinutes -= 30;
    }
    if (allMinutes >= 24 * 60) {
    allMinutes -= 24 * 60;
    } else if (allMinutes < 0) {
      allMinutes += 24 * 60;
    }

    let expandHours = Math.floor(allMinutes / 60);
    let expandMinutes = allMinutes % 60;
    let expandHoursString = expandHours.toString().padStart(2, "0");
    let expandMinutesString = expandMinutes.toString().padStart(2, "0");
    // Rückgabe der erweiterten Zeit im Format "hh:mm"
    newTime = expandHoursString + ":" + expandMinutesString;
  }

  function setAction(direction) {
    if (direction && parseInt(newAction) < 100) {
      newAction = String(parseInt(newAction)+10);
    } else if (!direction && parseInt(newAction) > 0) {
      newAction = String(parseInt(newAction)-10);
    }
  }

  function interrupt() {
    redrawTimeplan(blind_id);
  }

  function resetAddButton() {
    addButton.removeEventListener("click", saveNewAction);
    addButton.innerHTML = `Neu`;
    addButton.addEventListener("click", addAction);
  }

  function saveNewAction() {
    $.ajax({
      url: "/saveNewAction/" + blind_id,
      type: 'POST',
      data: {'time':newTime, 'action':newAction},
      success: function (response) {
        console.log(response);
        redrawTimeplan(blind_id);
      },
      error: function (error) {
        console.log(error);
      }
    });
  }

  function deleteAction(action_id) {
    $.ajax({
      url: "/deleteAction/" + action_id,
      type: 'POST',
      success: function (response) {
        console.log(response);
        redrawTimeplan(blind_id)
      },
      error: function (error) {
        console.log(error);
      }
    });
  }

  function closePlan() {
    plan.style.display="none";
  }

  function automatic(port) {
    $.ajax({
        url: "/autoOnOff",
        type: 'POST',
        data: {"port": port},
        success: function (response) {
            console.log(response);
        },
        error: function(error) {
          console.error(error);
        }
    })
  }

  function switchButtonClass(id) {
    button = document.getElementById(id);
    if (button.classList.contains("automaticButtonTrue")) {
      button.classList.remove("automaticButtonTrue");
      button.classList.add("automaticButtonFalse");
    } else {
      button.classList.remove("automaticButtonFalse");
      button.classList.add("automaticButtonTrue");
    }
  }

  function lightOn(id) {
    let lightBulb = document.getElementById(id);
    lightBulb.classList.add("lightBulbOn");
  }

  function driveBlinds(upButton, downButton) {

  }

  function lockButton(buttonID) {
    let pressTimer;
    let buttonLocked = false;
    let button = document.getElementById(buttonID);
    button.addEventListener("mousedown", function () {
      pressTimer = setTimeout(function () {
        // long press
        console.log("Langer Druck");
        button.classList.remove("buttonLocked");
        button.classList.add("controlButton");
        buttonLocked = false;
      }, 500);

      // short press
      if (!buttonLocked) {
        button.classList.remove("controlButton");
        button.classList.add("buttonLocked");
        buttonLocked = true;
        console.log(buttonLocked);
      } else {
        button.classList.remove("buttonLocked");
        button.classList.add("controlButton");
        buttonLocked = false;
      }
    });

    button.addEventListener("mouseup", function () {
      clearTimeout(pressTimer);
    });
  }
</script>

</div>


{% endblock %}