{% extends "base.html" %}
{% block content%}

<style>
  .timeplan {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    justify-items: center;
    align-items: center;
    justify-content: center;
    font-size: 6vw;
  }

  .timewindow {
    background-color: white;
    width: 90%;
    height: 90%;
  }

  .tableFrame {
    max-height: 75%;
    width: 100%;
    overflow-y: scroll;
  }

  table {
    width: 100%;
  }

  table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  }

  .titleBar {
    display: flex;
    justify-content: space-between;
  }

  .tableButton {
    width: 100%;
    font-size: 6vw;
  }

  .lastColumn {
    width: 6vw;
  }

  .deleteButton, .acceptButton {
    width: 100%;
    height: 10vw;
    background-color: red;
    color: white;
  }

  .acceptButton {
    background-color: green;
  }
</style>


<div class="timeplan" id="timeplan">
  <div class="timewindow">
    <div class="titleBar">
      <div>Zeitplan</div>
      <button onclick="closePlan()" style="font-size:6vw;">X</button>
    </div>
    <div class="tableFrame">
      <table id="timeTable">
        <tr>
          <th>Uhrzeit</th>
          <th>Aktion</th>
          <th class="lastColumn">Entf</th>
        </tr>
      </table>
    </div>
    
    <button onclick="addAction(0)" id="addButton" class="tableButton">
      Neu
    </button>
  </div>
</div>


<div class="bigButtonContainer">
  <div class="headerSpace"></div>

  {% if modules['lights'][1] %}

  {% include 'allLights.html' %}

  {% endif %}

  {% if modules['blinds'][1] %}

  {% include 'allBlinds.html' %}

  {% endif %}

  {% include 'listLights.html' %}

  {% include 'listBlinds.html' %}

</div>







<!-- <script>
  let lockedButtonId = null;
  let pressTimer = null;

  function startPressTimer(buttonIdToLock, buttonIdToUnlock) {
    pressTimer = setTimeout(function() {
      // Langer Druck
      lockButton(buttonIdToLock, buttonIdToUnlock);
    }, 300);
  }

  function endPressTimer() {
    clearTimeout(pressTimer);
  }

  function lockButton(buttonIdToLock, buttonIdToUnlock) {
    if (lockedButtonId === buttonIdToLock) {
      // Wenn der Button bereits eingerastet ist, dann aufheben
      unlockButton(buttonIdToLock);
    } else {
      // Anderen Button aufheben (falls eingerastet)
      if (lockedButtonId) {
        unlockButton(lockedButtonId);
      }

      // Button einrasten
      lockButtonStyle(buttonIdToLock);
      unlockButtonStyle(buttonIdToUnlock);
      lockedButtonId = buttonIdToLock;
    }
  }

  function unlockButton(buttonId) {
    unlockButtonStyle(buttonId);
    lockedButtonId = null;
  }

  function lockButtonStyle(buttonId) {
    let button = document.getElementById(buttonId);
    button.classList.remove("controlButton");
    button.classList.add("buttonLocked");
  }

  function unlockButtonStyle(buttonId) {
    let button = document.getElementById(buttonId);
    button.classList.remove("buttonLocked");
    button.classList.add("controlButton");
  }
</script> -->

<script>

  function addAction(blind_id) {
    let blind = document.getElementById(blind_id);
    let tableRows = document.getElementById("timeTable");
    let addButton = document.getElementById("addButton");
    addButton.style.display = "none";
    let time = "00:06";
    let state = "Öffnen";
    tableRows.innerHTML += `
    <tr>
      <td>${time}</td>
      <td>${state}</td>
      <td><button id="new" onclick="accept(id)" class="addButton">&#x2713;</button></td>
    </tr>
    `;
  }

  function accept(id) {
    let button = document.getElementById(id);
    let addButton = document.getElementById("addButton");
    button.classList.remove("acceptButton");
    button.classList.add("deleteButton");
    addButton.style.display = "block";
  }

  function timeplan(id) {
    let plan = document.getElementById("timeplan");
    let tableRows = document.getElementById("timeTable");
    tableRows.innerHTML = `
      <tr>
        <th>Uhrzeit</th>
        <th>Aktion</th>
        <th class="lastColumn">Entf</th>
      </tr>
    `;

    getTimeEntries(id)
      .then(entries => {
        entries.forEach(entry => {
          let time = entry['time_value'];
          let state = entry['closedInPercent'];
          tableRows.innerHTML += `
            <tr>
              <td>${time}</td>
              <td>${state}</td>
              <td><button class="deleteButton">X</button></td>
            </tr>
          `;
        });
      })
      .catch(error => {
        console.log(error);
      });

    plan.style.display = "flex";
  }

  function getTimeEntries(blind_id) {
    return new Promise((resolve, reject) => {
      $.ajax({
        url: "/getTimeEntries/" + blind_id,
        type: 'GET',
        success: function (response) {
          let actionTimes = response.data;
          resolve(actionTimes);
        },
        error: function (error) {
          reject(error);
        }
      });
    });
  }


  function closePlan() {
    let plan = document.getElementById("timeplan");
    plan.style.display="none";
    
  }

  function automatic(port) {
    $.ajax({
        url: "/autoOnOff",
        type: 'POST',
        data: {"port": port},
        success: function (response) {
            console.log(response);
        },
        error: function(error) {
          console.error(error);
        }
    })
  }

  function switchButtonClass(id) {
    button = document.getElementById(id);
    if (button.classList.contains("automaticButtonTrue")) {
      button.classList.remove("automaticButtonTrue");
      button.classList.add("automaticButtonFalse");
    } else {
      button.classList.remove("automaticButtonFalse");
      button.classList.add("automaticButtonTrue");
    }
  }

  function lightOn(id) {
    let lightBulb = document.getElementById(id);
    lightBulb.classList.add("lightBulbOn");
  }

  function lockButton(buttonID) {
    let pressTimer;
    let buttonLocked = false;
    let button = document.getElementById(buttonID);
    button.addEventListener("mousedown", function () {
      pressTimer = setTimeout(function () {
        // long press
        console.log("Langer Druck");
        button.classList.remove("buttonLocked");
        button.classList.add("controlButton");
        buttonLocked = false;
      }, 500);

      // short press
      if (!buttonLocked) {
        button.classList.remove("controlButton");
        button.classList.add("buttonLocked");
        buttonLocked = true;
        console.log(buttonLocked);
      } else {
        button.classList.remove("buttonLocked");
        button.classList.add("controlButton");
        buttonLocked = false;
      }
    });

    button.addEventListener("mouseup", function () {
      clearTimeout(pressTimer);
    });
  }
</script>

</div>


{% endblock %}