{% extends "base.html" %}
{% block content%}


<div class="bigButtonContainer">
  <div class="headerSpace"></div>
  <button id="Alle" class="roomButton">Alle</button>

  <script>
    buttonID = document.getElementById("Alle");
    buttonID.classList.add("allRooms")
  </script>

  {% for room in house.rooms %}
    <button onclick="redirectToPage('{{room.name}}')" id="{{room.name}}" class="roomButton">{{room.name}}</button>

    <script>
      roomName = "{{room.name}}";
      buttonID = document.getElementById("{{room.name}}")
      changeClass(buttonID, roomName);
    </script>
  {% endfor %}

</div>


{% endblock %}