.screenSaver {
  background-color: black;
  font-size: 8vh;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: none;
  flex-wrap: wrap;
  color: white;
  align-items: center;

}

.screenSaverBox {
  width: 50vw;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.screenSaverFont {
  padding: 0;
  margin: 0;
  
}

body {
  background: -webkit-linear-gradient(rgb(79, 73, 112), rgb(5, 2, 39));
  background-position: top, bottom;
  background-size: 1px 100vh, 1px 1px;
  background-attachment: fixed;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.header {
  color: white;
  font-size: 3vw;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  text-align: center;
  background-color: rgb(8, 6, 39);
  width: 100%;
  margin: 0;
  position: fixed;
  justify-content: space-between;
  display: flex;
}

.bigButtonContainer {

  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.roomButton {

  width: 100%;
  height: 33vh;
  border-radius: 1.5vw;
  margin: 1vh 1vw;
  padding: 5vh 0vw;
  font-size: 10vw;
  background-blend-mode: normal, luminosity;
  background-position: center;
  background-size: 110% auto;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
  border: 0;
  background-image: linear-gradient(rgba(78, 77, 150, 0.5), rgba(0, 0, 0, 0.8)), url(../images/all.jpg);
}

.roomButton:active {

  box-shadow: 0 0 3vw;
}

.allRooms {
  background-image: linear-gradient(rgba(78, 77, 150, 0.5), rgba(0, 0, 0, 0.8)), url(../images/all.jpg);
}

.groundFloor {
  background-image: linear-gradient(rgba(78, 77, 150, 0.5), rgba(0, 0, 0, 0.8)), url(../images/ground.jpg);
}

.firstFloor {
  background-image: linear-gradient(rgba(78, 77, 150, 0.5), rgba(0, 0, 0, 0.8)), url(../images/first.jpg);
}

.livingRoom {
  background-image: linear-gradient(rgba(78, 77, 150, 0.5), rgba(0, 0, 0, 0.8)), url(../images/livingroom.jpg);
}

.diningRoom {
  background-image: linear-gradient(rgba(78, 77, 150, 0.5), rgba(0, 0, 0, 0.8)), url(../images/diningRoom.jpg);
}

.kitchen {
  background-image: linear-gradient(rgba(78, 77, 150, 0.5), rgba(0, 0, 0, 0.8)), url(../images/kitchen.jpg);
}

.office {
  background-image: linear-gradient(rgba(78, 77, 150, 0.5), rgba(0, 0, 0, 0.8)), url(../images/office.jpg);
}

.business {
  background-image: linear-gradient(rgba(78, 77, 150, 0.5), rgba(0, 0, 0, 0.8)), url(../images/business.jpeg);
}




.headerSpace {

  width: 100%;
  height: 22vh;
}

@media screen and (max-width: 480px) and (min-height: 480px) {

  .headerSpace {
    height: 9vh;
  }

}